@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.custom-select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>');
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 8px 10px;
}

.error {
  color: red;
  font-size: x-small;
  text-align: left;
}

.CursorCore {
  z-index: 9999;
}

.navbar-custom {
  font-size: 2vh; /* Adjust the font size using `vh` */
}

.navbar__link {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: .1em;
  text-indent: .3em;
  border-bottom: 3px solid transparent;
}

.navbar__link::after {
  transition: all ease-in-out 0.3s;
  background: none repeat scroll 0 0;
  content: "";
  display: block;
  margin-top: 2px;
  height: 3px;
  width: 0;
}

.navbar__link:hover::after {
  visibility: visible;
  width: 40%;
}

.navbar__link--active::after {
  transition: all ease-in-out 0.3s;
  width: 100%;
}

.navbar__link--active:hover::after {
  width: 100%;
}

.MainApp {
  margin-top: 8vh;
  margin-bottom: 6rem;
  height: 90vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  /* Add padding for sections */
}

.Typewriter {
  display: inline-block;
}

.Typewriter__wrapper {
  font-size: 3vw; /* Adjust the font size using `vw` */
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: 3vw; /* Adjust the font size using `vw` */
  font-weight: bold;
}

section.timeline-card-content {
  justify-content: center;
}

section.timeline-card-content p.card-title {
  font-size: 3vw; /* Adjust the font size using `vw` */
  margin-top: 25px;
}

section.timeline-card-content p.card-sub-title {
  font-size: 2.5vw; /* Adjust the font size using `vw` */
  margin-top: 10px;
}

section.timeline-card-content div.card-description > p {
  font-size: 2vw; /* Adjust the font size using `vw` */
  margin-top: 10px;
  font-weight: 500;
}

.social {
  position: relative;
  margin-top: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .navbar__link {
    margin-left: 0.4em;
    margin-right: 0.4em;
    font-size: 0.9em;
    letter-spacing: .1em;
    text-indent: .2em;
  }
}

@media (max-width: 768px) {
  .navbar__link::after {
    background: none;
    content: "";
    display: none;
    margin-top: 0;
    height: 0;
    width: 0;
  }

  .navbar__link--active::after {
    width: 0;
  }

  .navbar__link--active:hover::after {
    width: 0;
  }

  .navbar__link:hover::after {
    width: 0;
  }

  .MainApp {
    margin-top: 6vh;
    margin-bottom: 4rem;
    /* margin-left: 3vh; */
    width: 100vw;
    /* height: auto; */
  }

  .section-content-container {
    padding: 0.5rem;
  }

  section.timeline-card-content p.card-title {
    font-size: 4vw; /* Adjust the font size using `vw` */
  }

  section.timeline-card-content p.card-sub-title {
    font-size: 3vw; /* Adjust the font size using `vw` */
  }

  section.timeline-card-content div.card-description > p {
    font-size: 2.5vw; /* Adjust the font size using `vw` */
  }
}

.header {
  font-size: 6vw; /* Adjust the font size using `vw` */
  font-weight: bold;
  margin-bottom: 25px;
}

/* Styles from home.js */
.nameStyle {
  font-size: 5vw; /* Adjust the font size using `vw` */
}

@media (max-width: 768px) {
  .nameStyle {
    font-size: 8vw; /* Adjust the font size using `vw` */
  }
}

.inlineChild {
  display: inline-block;
  font-size: 3vw; /* Adjust the font size using `vw` */
}

@media (max-width: 768px) {
  .inlineChild {
    font-size: 4vw; /* Adjust the font size using `vw` */
  }
}

.paragraph {
  font-size: 1vw; /* Adjust the font size using `vw` */
  line-height: 1.5;
  font-family: 'Georgia', serif;
}

@media (max-width: 768px) {
  .paragraph {
    font-size: 3vw; /* Adjust the font size using `vw` */
    line-height: 1.3;
  }
}

.gap {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}

.mainContainer {
  height: 100%;
  display: flex;
  padding: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 2rem;
  }
}

.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .profilePic {
    width: 150px;
    height: 150px;
  }
}